@model List<OnlineShop.Models.CartItem>
<div>
    <a href="/gio-hang">
        <i class="fa fa-shopping-cart"></i>
        <span>Giỏ hàng</span>
        <div class="qty">@Model.Count</div>
    </a>  
</div>
