@model List<Model.EF.ProductCategory>

<div class="categories">
    <h2 data-toggle="collapse" data-target="#demo">Danh mục sản phẩm</h2>
    <div class="categorie collapse" id="demo">
        <ul>
            @foreach (var item in Model)
            {
                <Li><a href="/san-pham/@item.MetaTitle-@item.ID"><img src="">@item.Name</a></Li>
            }
        </ul>
    </div>
</div>