@model List<Model.EF.ProductCategory>

<div class="categories">
    <h2 data-toggle="collapse" data-target="#demo">Thương hiệu</h2>
    <div id="demo">
        <ul>
            @foreach (var item in Model)
            {
                <Li><a href="/san-pham/@item.MetaTitle-@item.ID"><span style="font-size:large">@item.Name</span></a></Li>
            }
        </ul>
    </div>
</div>