@model IEnumerable<Model.EF.About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>Giới thiệu</h3>
        </div>
        <div class="see">

        </div>
        <div class="clear"></div>
    </div>
    @foreach (var item in Model)
    {
        if (@item.Status)
        {
            <div class="image group">
                <div class="grid images_3_of_1">
                    <img src="@item.Image" alt=""  />
                </div>
                <hr />
                <div class="grid news_desc">
                    <h3>Tên bài viết: @item.Name</h3>
                    <span>Mô tả: @item.Description</span>
                </div>
            </div>
        }
    }
</div>